/* Variables */
/* Fonts */
@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('../bower_components/font-sorts-mill-goudy/OFLGoudyStM.otf'), url('../bower_components/font-sorts-mill-goudy/OFLGoudyStMTT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Linden Hill';
  src: url('../bower_components/font-linden-hill/Linden Hill.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Chunk';
  src: url('../bower_components/font-chunk/Chunk Five Print.otf');
  src: url('../bower_components/font-chunk/Chunk Five Print.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Mixins */
/* 
 * Styles 
 */
html,
body {
  margin: 0;
  color: #444444;
}
/* Header */
.brand {
  font-family: 'Chunk';
  font-weight: normal;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 1px;
}
/* Center the navbar. */
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin-bottom: 40px;
    font-family: 'Sorts Mill Goudy';
    font-size: 16px;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
.header {
  font-family: 'Sorts Mill Goudy';
  text-align: center;
  font-size: 1.5em;
  width: 600px;
  margin: 0 auto;
}
.header h2 a {
  color: #444444;
}
.header h2 a:hover {
  text-decoration: none;
}
.header h2 a:hover {
  color: #777777;
}
/*
 * Dynamically generated feed
 */
.feed {
  padding: 0 40px;
}
@media (min-width: 768px) {
  .row {
    margin: 0 5%;
  }
}
.event {
  padding: 10px;
  padding-left: 45px;
}
.event .time {
  color: #a2a2a2;
}
.event .title {
  color: #a2a2a2;
}
.event .title a {
  color: #444444;
}
.event:hover {
  background-color: #f2f2f2;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.github-event .mega-octicon {
  position: absolute;
  display: inline-block;
  left: 45px;
  color: #bbbbbb;
}
.github-event .gravatar {
  display: none;
}
.github-event ul {
  padding-left: 0;
}
.github-event li {
  list-style-type: none;
}
.github-event .message {
  display: inline;
}
.github-event .message blockquote {
  color: #666;
  margin: 0;
  border: 0;
  display: block;
  padding-left: 0;
  padding-top: 3px;
  padding-botom: 3px;
  font-size: 13px;
}
.github-event .details {
  display: none;
}
.feed-header {
  text-align: center;
}
.brand {
  margin-top: 25px;
}
/* Article */
.article {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  font-family: 'Sorts Mill Goudy';
}
.article .article-title {
  font-size: 3em;
  margin-top: 0;
}
.article .article-info {
  margin-bottom: 15px;
  color: #a2a2a2;
}
.article p {
  font-size: 1.5em;
}
/* Footer */
footer {
  border-top: 1px solid #e5e5e5;
  color: #a2a2a2;
}
footer .social-media {
  width: 350px;
  margin: 30px auto;
  text-align: center;
}
footer .social-media a {
  font-size: 1.3em;
  color: #bbbbbb;
}
footer .social-media a:hover {
  text-decoration: none;
}
footer .social-media a:hover {
  color: #888888;
}
footer .social-media .fa {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2em;
}
footer .attributions {
  width: 350px;
  margin: 30px auto;
  text-align: justify;
}
