---
layout: page.hbs
---

{{!-- This is a copy of the inner loop of blog.hbs.
      Ideally, the common code would be extracted into a partial,
      but it's a challenge to get the variable names in the calling
      templates to match up, even using the #withHash block helper.
--}}

{{!-- Must be kept in sync with blog.hbs. --}}
<div class="content">
	{{#is page.state 'published'}}
		<div class="blog-post">
			<div class="blog-header">
				{{#if page.header}}
					<img class="blog-header-image" src="{{page.header}}"></img>
				{{/if}}
				<h2 class="blog-title">{{page.title}}</h2>
				<time class="blog-published">
					{{moment page.date format="dddd MMMM Do, YYYY"}}
				</time>
			</div>
			{{#markdown}}{{> body }}{{/markdown}}
		</div>
	{{/is}}
</div><!-- .content -->
