<!DOCTYPE html>
<html>
	<head>
		<link href="http://fonts.googleapis.com/css?family=Andada" rel="stylesheet" type="text/css">	
		<link rel="stylesheet" href="./css/style.css"/>
	</head>
	<body>
		
	</body>
	<div id="header">{{{ contents }}}</div>
	<div id="feeds">

	</div><!-- #feeds -->
</html>