---
template: page.hbs
title: Archive
---
<div class="archives content">
	<div class="archive content-header">
		{{#markdown}}From time to time, I publish my thoughts at [Out of the Yards](outoftheyards.com), on [Public Lab](publiclab.org) as a research note, or [on my blog](/blog).  Below are some of my recent writings:{{/markdown}}	
	</div>


	{{#compose src="<%= feeds.dest.archive %>"}}
		{{{@content}}}
	{{/compose}}
</div>