---
template: page.hbs
---

<div class="container-fluid">
	<div class="row">
		{{#compose src="<%= feeds.dest.feed %>"}}
			<div class="col-md-4 feed">
				{{{@content}}}
			</div>
		{{/compose}}

		{{#compose src="<%= feeds.dest.article %>"}}
			<div class="col-md-8 article">
				{{{@content}}}
			</div>
		{{/compose}}				
	</div>
</div>