---
template: page.hbs
title: Work
---
<div class="works content">

{{#compose src="<%= content.work %>"}}
<div class="work">
	<div class="work-header">
		<a href="{{@link}}"><h3 class="work-title">{{@title}}</h3></a>
		<span class="work-summary">{{@summary}}</span>
	</div>
	{{#markdown}}{{{@content}}}{{/markdown}}
</div><!-- .work -->
{{/compose}}
</div>
